<mat-nav-list>
 <button class="close mr-4 mt-4 " (click)="snavClose()">&times;</button>
 
 
  

  <div class=" d-flex justify-content-center align-items-center">
      <ul><li>   <a mat-list-item routerLink="/accomodation" data-text="Accomodation"> <mat-icon> home</mat-icon>Accomodation</a></li>

      <li>   
        <a mat-list-item routerLink="/food"  data-text="Food"> <mat-icon> home</mat-icon>Food</a>
      </li>
      
        
      <li>   
        <a mat-list-item routerLink="/lifestyle"  data-text="Lifestyle"> <mat-icon> home</mat-icon>Lifestyle</a>
      </li>
      
        
     <li>   
       <a mat-list-item routerLink="/celebration" data-text="Celebrations"> <mat-icon> home</mat-icon>Celebrations</a>
    </li>
    
       
     <li>   
       <a mat-list-item routerLink="/conferences" data-text="Conferences"> <mat-icon> home</mat-icon>Conferences</a>
    </li>
    
       
     <li>   
       <a mat-list-item routerLink="/blogs" data-text="Blogs"> <mat-icon> home</mat-icon>Blogs</a>
    </li>
    
       
     <li>   
       <a mat-list-item routerLink="/signin" data-text="SignIn"> <mat-icon> home</mat-icon>SignIn</a>
    </li>
    
       
     <li>   
       <a mat-list-item routerLink="/signup" data-text="SignUp"> <mat-icon> home</mat-icon>SignUp</a>  
    </li>
    
       
    </ul>
  
</div>

  
  </mat-nav-list>

